/*{
outline: red dashed 1px;
}*/
* {
	z-index: 0;
}

body {
	margin: 0;
}

#content {
	margin-top: 13vh;
}
h1{
	font-size: 2rem;
	color: #c30000;
	margin-top: 4px;
	text-align: left;
	font-family: cursive;
	margin-left: 20px;
}

/* Stil für die Navigation */

@font-face {
	font-family: Raleway;
	src: url(./../font/Raleway.woff);
  }
  *{
	font-family: Raleway;
  }
  nav {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  background-color: #fff; /* Hintergrundfarbe der Navigation */
	  padding: 0px;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten um die Navigation */
	  
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  z-index: 999; /* optional, falls die Navigation über anderen Inhalten liegen soll */
	  
	}
	
	/* Stil für den linken Teil der Navigation */
	nav{
	  position: fixed;
	}
	.nav-left {
	  display: flex;
	  align-items: center;
	}
	
	/* Stil für den Namen in der Navigation */
	.nav-name {
	  font-size: 1.2rem;
	  font-weight: bold;
	  color: #333; /* Farbe des Namens */
	  margin-left: 10px;
	}
	
	/* Stil für das Menü in der Navigation */
	.nav-menu {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	
	/* Stil für die einzelnen Menüpunkte */
	.nav-menu li {
	  position: relative;
	}
	
	/* Stil für die Links in den Menüpunkten */
	.nav-menu li a {
	  display: block;
	  font-size: 1.2rem;
	  font-weight: bold;
	  color: #333;
	  padding: 10px 20px;
	  text-decoration: none;
	}
	
	/* Stil für den Hover-Effekt */
	.nav-menu li:hover > .sub-menu {
	  display: block;
	}
	
	/* Stil für das Dropdown-Menü */
.sub-menu {
	  display: none;
	  position: absolute;
	  top: 100%;
	  left: 0;
	  background-color: #fff;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	  z-index: 1; /* Stellt sicher, dass das Dropdown-Menü vor anderen Elementen angezeigt wird */
}
	
	/* Stil für die einzelnen Menüpunkte im Dropdown-Menü */
.sub-menu li {
	  width: 200px;
}
	
	/* Stil für die Links in den Menüpunkten im Dropdown-Menü */
.sub-menu li a {
	  display: block;
	  font-size: 1rem;
	  color: #333;
	  padding: 10px 20px;
	  text-decoration: none;
}
	
	/* Stil für den Hover-Effekt in den Menüpunkten im Dropdown-Menü */
.sub-menu li:hover a {
	  color: #fff; /* Textfarbe ändert sich auf Weiß */
	  background-color: #e30613; /* Hintergrundfarbe ändert sich auf Rot */
}
	
.Saison-Drop-Down{
	  display: block;
	  font-size: 1rem;
	  color: #333;
	  padding: 10px 20px;
	  margin-left: 5px;
	  text-decoration: none;
}
	
	
.sub-menu > li {
	position: relative;
}

.sub-menu > li > ul {
	position: absolute;
	left: 100%;
	top: 0;
	display: none;
}

	.sub-menu > li:hover > ul {
	display: block;
}
  
  
#platzhalter{
	margin-right: 5vw;
}


.card {
	width: 20vw;
	height: 40vh;
	position: relative;
	background: #f5f5f5;
	color: #252525;
	border-radius: 4px;
	overflow: hidden;
	line-height: 150%;
	box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
	transition: box-shadow .3s ease-in-out;
	margin-left: 6%;
}

.card-info {
	position: absolute;
	bottom: 1em;
	width: 100%;
	text-align: center;
	background-color: rgb(255, 255, 255);
}

/* Image */
.card-img {

	height: 100%;
	width: 100%;
	position: absolute;
	transition: transform .3s ease-in-out;
	z-index: 2;
	object-fit: cover;
}

/* Texts */
.title {
	font-size: 1.5em;
	font-weight: bold;
	background-color: black;
}

.subtitle {
	letter-spacing: 1px;
	font-size: 0.9em;
}


/* Hovers */
.card:hover {
	box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card:hover .card-img {
	transform: translateY(-6em);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.grid-item {
	box-shadow: #000000;
	padding: 1px;
	text-align: center;
	border-radius: 20%;
	color-interpolation-filters: linearRGB;

	margin-bottom: 1vh;
}

.grid-container img{
	width: 20vw;
	height: 39vh;
	object-fit: cover;
}

@media (max-width: 1100px) {
	.grid-container {
		grid-template-columns: 50% 50%;
		width: 100%;
		margin-right: 1vw;
	}
	.card {
		width: 100%
	}

	.grid-container img{
		width: 50vw;
		height: 39vh;
	}

}
@media (max-width: 600px) {
	.grid-container {
		grid-template-columns: 100%;
		width: 100%;
	}
	.grid-container img{
		width: 100vw;
		height: 39vh;
	}

	body{
		overflow-x: hidden;
	}
	
	nav{
		width: 100%;
		position: fixed;
	}
	
	.nav-menu{
		display: block;
		margin-right: 4vw;
	}

	#content{
		margin-top: 25vh;
	}

	.card{
		margin-left: 0;
	}

}